<h1>Register now</h1>

<form id=class="form" action="/users" method="post">
  <div class="form-group col-xs-7 col-xs-offset-2">
  	<label for="email">Email:</label>
    <input type="email" class="form-control" id="search" name="email" required="true">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="search" name="username" required="true">
    <label for="password">Password:</label>
    <input type="text" class="form-control" id="search" name="password" required="true">
    <button type="submit" class="btn btn-success"></span>Register</button>
  </div>
  
</form>
