<form id=class="form" action="/products/type/filter" method="post">
  <div class="form-group col-xs-3 col-xs-offset-1">
		<select class="form-control" name="categoryId">
      <option value="0">
        Category
      </option>
      {{#each categories as |category|}}
		  <option name="{{category.name}}" value="{{category.id}}">{{category.name}}</option>
      {{/each}}
		</select>
  </div>
  <div class="form-group col-xs-3">
    <select class="form-control" name="minPrice">
      <option name="min1" value="0">No Minimum Price</option>
      <option name="min2" value="1">$5</option>
      <option name="min3" value="2">$50</option>
      <option name="min4" value="3">$100</option>
      <option name="min5" value="4">$300</option>
      <option name="min6" value="5">$500</option>
    </select>
  </div>
  <div class="form-group col-xs-3">
    <select class="form-control" name="maxPrice">
      <option name="max1" value="0">No Maximum Price</option>
      <option name="max2" value="1">$50</option>
      <option name="max3" value="2">$100</option>
      <option name="max4" value="3">$300</option>
      <option name="max5" value="4">$500</option>
      <option name="max6" value="5">$1000</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success"></span>Filter &nbsp;<span class="glyphicon glyphicon-filter"></button>
</form>
