<form id=class="form" action="/products/type/search" method="post">
  <div class="form-group col-xs-7 col-xs-offset-2">
    <input type="text" class="form-control" id="search" name="term" placeholder="Search for products...">
  </div>
  <button type="submit" class="btn btn-success"></span>Search &nbsp;<span class="glyphicon glyphicon-search"></button>
</form>
