<form class="form search-form" action="/products/search" method="post">
  <div class="form-group col-xs-4 col-xs-offset-3">
    <input type="text" class="form-control" id="search" name="term" placeholder="Search for products...">
  </div>
  <button type="submit" class="btn btn-success"></span>Search &nbsp;<span class="glyphicon glyphicon-search">
  </button>
  <button type="button" class="btn btn-success advanced-btn"></span>Advanced &nbsp;<span class="glyphicon glyphicon-cog">
  </button>
</form>
