<form id=class="form" action="/products/sort" method="post">
  <div class="form-group col-xs-3 col-xs-offset-4">
    <select class="form-control" name="refine[sort]">
      <option name="" value="0">Sort Results By</option>
      <option name="option1" value="1">Name Ascending</option>
      <option name="option2" value="2">Price Ascending</option>
      <option name="option3" value="3">Price Descending</option>
      <option name="option4" value="4">Newest First</option>
      <option name="option5" value="5">Oldest First</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success"></span>Sort &nbsp;<span class="glyphicon glyphicon-sort"></button>
</form>