<h1>Your Cart</h1>
{{#each products as |product|}}
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object img-rounded" width="304" src="{{product.img}}">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">{{product.name}}</h4>
	    ...
	  </div>
	</div>
{{/each}}
